@import "./settings";
@import "./components/nav";
@import "./components/hero";
@import "./components/projects";
@import "./components/projectsIcons";
@import "./components/projectModal";
@import "./components/text";
@import "./components/about";
@import "./components/contact";
