/* =========================================
   Section ABOUT
   ========================================= */

.about {
  position: relative;
  padding: 5rem 2rem;
  background-color: #149fda;
  background-image: url("../public/images/noise.png");
  background-repeat: repeat;
  color: $color-white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 -15px 30px rgba(42, 42, 42, 0.42);

  &__title {
    text-transform: uppercase;
    text-align: center;
    font-family: $font-family-hero;
    user-select: none;
    font-weight: 1000;
    font-size: 15vw;
    line-height: 0;
    letter-spacing: 0.05rem;
    color: $color-white;
    text-shadow: 1px 3px 0 #8a8a934b, 1px 13px 5px #2a2a2b;
    position: relative;
    z-index: 1;
    display: inline-block;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 60rem;
  }

  &__text {
    font-size: $font-size-xl;
    line-height: 1.3;
    font-weight: 200;
  }

  @media (max-width: 768px) {
    padding: 2rem 1.5rem;

    &__inner {
      max-width: 80vw;
    }

    &__text {
      font-size: $font-size-lg;
      line-height: 1.2;
    }
  }
}
