/* =========================================
   Section TEXT
   ========================================= */

.text {
  background-color: $color-white;
  color: $color-black;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 5rem 2rem;
  z-index: 2;

  &__inner {
    max-width: 60vw;
    margin: 0 auto;
  }

  &__content {
    font-size: $font-size-xl;
    line-height: 1.4;
    font-kerning: none;
    text-rendering: optimizeSpeed;

    // chaque mot reste un bloc
    .word {
      display: inline-block;
    }

    .char {
      display: inline;
    }

    p {
      margin: 0 0 1.6rem;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  @media (max-width: 768px) {
    min-height: 80vh;
    padding: 2rem 1.5rem;

    &__inner {
      max-width: 80vw;
    }

    &__content {
      font-size: $font-size-lg;
      line-height: 1.2;
    }
  }
}
